In [1]:
import pandas as pd

df = pd.read_csv('grains/manual_vs_auto.csv')

print(df.head())
print(df.describe())

  Unnamed: 0   Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
0       Set1  Image1    92.0     93.0         70         87         82
1       Set1  Image2    87.0     83.0         60         85         83
2       Set1  Image3   104.0     98.0         74         99         94
3       Set1  Image4    99.0      NaN         73        101        109
4       Set1  Image5    89.0      NaN         59         90         67
           Manual    Manual2   Auto_th_2   Auto_th_3   Auto_th_4
count   94.000000   3.000000  100.000000  100.000000  100.000000
mean   100.021277  91.333333   76.370000   97.580000   93.210000
std     11.285140   7.637626   11.971055   12.327337   14.128769
min     80.000000  83.000000   55.000000   71.000000   63.000000
25%     90.250000  88.000000   67.750000   89.500000   83.750000
50%    101.000000  93.000000   74.500000   98.500000   93.000000
75%    108.000000  95.500000   85.000000  106.000000  103.250000
max    120.000000  98.000000  109.000000  124.000000  129.000000

In [2]:
# Data sorting
# according to 'Manual'
# check the result through ['Manual', 'Auto_th_2']

df2 = df.sort_values('Manual',ascending=True)
print(df2[['Manual', 'Auto_th_2']])
'''
    Manual  Auto_th_2
34    80.0         58
96    80.0         66
93    81.0         65
66    81.0         65
44    82.0         67
..     ...        ...
32     NaN         66
59     NaN         74
79     NaN         69
82     NaN         64
94     NaN        104
'''

# two methods to get the range of data

print(df[20:30]) # not include 30

print(df.loc[20:30, ['Manual', 'Auto_th_2']]) # include 30

    Manual  Auto_th_2
34    80.0         58
96    80.0         66
93    81.0         65
66    81.0         65
44    82.0         67
..     ...        ...
32     NaN         66
59     NaN         74
79     NaN         69
82     NaN         64
94     NaN        104

[100 rows x 2 columns]
   Unnamed: 0    Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
20       Set1  Image21    89.0      NaN         65         94         86
21       Set1  Image22    88.0      NaN         66         96         83
22       Set1  Image23   106.0      NaN         71        112        105
23       Set1  Image24   107.0      NaN         92         91        111
24       Set1  Image25   108.0      NaN         93        113        115
25       Set2  Image26   102.0      NaN         85        103        105
26       Set2  Image27    93.0      NaN         76         84         98
27       Set2  Image28    83.0      NaN         62         71         87
28       Set2  Image29   110.0      NaN         92        117         85
29       Set2  Image30    89.0      NaN         70         96         81
    Manual  Auto_th_2
20    89.0         65
21    88.0         66
22   106.0         71
23   107.0         92
24   108.0         93
25   102.0         85
26    93.0         76
27    83.0         62
28   110.0         92
29    89.0         70
30   115.0         77

In [3]:
# get set2 data

set2_df = df[df['Unnamed: 0'] == 'Set2']

print(set2_df.head(5))
'''
   Unnamed: 0    Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
25       Set2  Image26   102.0      NaN         85        103        105
26       Set2  Image27    93.0      NaN         76         84         98
27       Set2  Image28    83.0      NaN         62         71         87
28       Set2  Image29   110.0      NaN         92        117         85
29       Set2  Image30    89.0      NaN         70         96         81
'''

# get the max value from 'Manual' column

print(max(set2_df['Manual']))

   Unnamed: 0    Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
25       Set2  Image26   102.0      NaN         85        103        105
26       Set2  Image27    93.0      NaN         76         84         98
27       Set2  Image28    83.0      NaN         62         71         87
28       Set2  Image29   110.0      NaN         92        117         85
29       Set2  Image30    89.0      NaN         70         96         81
120.0

In [4]:
# get data that 'Manual' larger than 100.

print(df[df['Manual'] > 100.].head(5)) # print the values > 100

  Unnamed: 0   Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
2       Set1  Image3   104.0     98.0         74         99         94
5       Set1  Image6   115.0      NaN         82        124        105
6       Set1  Image7   102.0      NaN         68        103         93
7       Set1  Image8   117.0      NaN         77        122         88
8       Set1  Image9   104.0      NaN         88         99        112

In [5]:
# get data that 'Manual' larger than 100 and 'Auto_th_2' smaller than 100.

print(df[(df['Manual'] > 100.) & (df['Auto_th_2'] < 100.)].head(5))

  Unnamed: 0   Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
2       Set1  Image3   104.0     98.0         74         99         94
5       Set1  Image6   115.0      NaN         82        124        105
6       Set1  Image7   102.0      NaN         68        103         93
7       Set1  Image8   117.0      NaN         77        122         88
8       Set1  Image9   104.0      NaN         88         99        112

In [6]:
# Do a calculation by FOR loop in the iteration
# df.iterrows() provides the iteration times for the loop
# ROW: a row of dara in the number of index

for index, row in df.iterrows():
    averafe_auto = (row['Auto_th_2'] + row['Auto_th_3'] + row['Auto_th_4'])/3
    
    # compare compute results with 'Manual'
    
    print(round(averafe_auto), row['Manual'])

80 92.0
76 87.0
89 104.0
94 99.0
72 89.0
104 115.0
88 102.0
96 117.0
100 104.0
87 103.0
75 91.0
98 119.0
80 nan
105 117.0
78 91.0
65 84.0
92 105.0
91 112.0
79 87.0
81 100.0
82 89.0
82 88.0
96 106.0
98 107.0
107 108.0
98 102.0
86 93.0
73 83.0
98 110.0
82 89.0
103 115.0
101 120.0
91 nan
91 99.0
75 80.0
92 112.0
95 107.0
91 108.0
98 103.0
102 106.0
88 95.0
78 86.0
86 105.0
78 86.0
75 82.0
90 98.0
88 98.0
88 88.0
80 102.0
97 101.0
69 85.0
95 98.0
92 105.0
105 115.0
80 93.0
99 101.0
94 110.0
96 101.0
86 101.0
84 nan
91 92.0
92 112.0
74 83.0
83 99.0
97 100.0
86 97.0
70 81.0
103 116.0
97 110.0
86 104.0
82 87.0
102 109.0
100 101.0
68 82.0
105 118.0
81 88.0
87 106.0
98 119.0
86 105.0
82 nan
109 119.0
99 109.0
78 nan
87 111.0
74 82.0
82 91.0
99 108.0
86 92.0
99 110.0
99 105.0
71 90.0
82 89.0
115 120.0
75 81.0
105 nan
95 106.0
78 80.0
87 92.0
103 116.0
95 99.0

In [7]:
row

Unnamed: 0        Set4
Image         Image100
Manual            99.0
Manual2            NaN
Auto_th_2           77
Auto_th_3          106
Auto_th_4          102
Name: 99, dtype: object

In [8]:
index

99