In [1]:
import pandas as pd

df = pd.read_csv('grains/manual_vs_auto.csv')

print(df.head())
print(df.describe())

  Unnamed: 0   Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
0       Set1  Image1    92.0     93.0         70         87         82
1       Set1  Image2    87.0     83.0         60         85         83
2       Set1  Image3   104.0     98.0         74         99         94
3       Set1  Image4    99.0      NaN         73        101        109
4       Set1  Image5    89.0      NaN         59         90         67
           Manual    Manual2   Auto_th_2   Auto_th_3   Auto_th_4
count   94.000000   3.000000  100.000000  100.000000  100.000000
mean   100.021277  91.333333   76.370000   97.580000   93.210000
std     11.285140   7.637626   11.971055   12.327337   14.128769
min     80.000000  83.000000   55.000000   71.000000   63.000000
25%     90.250000  88.000000   67.750000   89.500000   83.750000
50%    101.000000  93.000000   74.500000   98.500000   93.000000
75%    108.000000  95.500000   85.000000  106.000000  103.250000
max    120.000000  98.000000  109.000000  124.000000  129.000000

In [7]:
df2 = df.sort_values('Manual',ascending=True)
print(df2[['Manual', 'Auto_th_2']])

print(df[20:30]) # not include 30

print(df.loc[20:30, ['Manual', 'Auto_th_2']]) # include 30

    Manual  Auto_th_2
34    80.0         58
96    80.0         66
93    81.0         65
66    81.0         65
44    82.0         67
..     ...        ...
32     NaN         66
59     NaN         74
79     NaN         69
82     NaN         64
94     NaN        104

[100 rows x 2 columns]
   Unnamed: 0    Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
20       Set1  Image21    89.0      NaN         65         94         86
21       Set1  Image22    88.0      NaN         66         96         83
22       Set1  Image23   106.0      NaN         71        112        105
23       Set1  Image24   107.0      NaN         92         91        111
24       Set1  Image25   108.0      NaN         93        113        115
25       Set2  Image26   102.0      NaN         85        103        105
26       Set2  Image27    93.0      NaN         76         84         98
27       Set2  Image28    83.0      NaN         62         71         87
28       Set2  Image29   110.0      NaN         92        117         85
29       Set2  Image30    89.0      NaN         70         96         81
    Manual  Auto_th_2
20    89.0         65
21    88.0         66
22   106.0         71
23   107.0         92
24   108.0         93
25   102.0         85
26    93.0         76
27    83.0         62
28   110.0         92
29    89.0         70
30   115.0         77

In [10]:
set2_df = df[df['Unnamed: 0'] == 'Set2']

print(set2_df.head(25)) # not include 30

print(max(set2_df['Manual']))

   Unnamed: 0    Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
25       Set2  Image26   102.0      NaN         85        103        105
26       Set2  Image27    93.0      NaN         76         84         98
27       Set2  Image28    83.0      NaN         62         71         87
28       Set2  Image29   110.0      NaN         92        117         85
29       Set2  Image30    89.0      NaN         70         96         81
30       Set2  Image31   115.0      NaN         77        113        119
31       Set2  Image32   120.0      NaN         94        115         94
32       Set2  Image33     NaN      NaN         66        103        104
33       Set2  Image34    99.0      NaN         71         98        105
34       Set2  Image35    80.0      NaN         58         85         81
35       Set2  Image36   112.0      NaN         73        115         88
36       Set2  Image37   107.0      NaN         87        108         91
37       Set2  Image38   108.0      NaN         76        111         86
38       Set2  Image39   103.0      NaN         91        107         95
39       Set2  Image40   106.0      NaN         89        116        100
40       Set2  Image41    95.0      NaN         77         90         96
41       Set2  Image42    86.0      NaN         75         76         83
42       Set2  Image43   105.0      NaN         72        105         81
43       Set2  Image44    86.0      NaN         60         94         80
44       Set2  Image45    82.0      NaN         67         71         87
45       Set2  Image46    98.0      NaN         67         99        105
46       Set2  Image47    98.0      NaN         69         98         97
47       Set2  Image48    88.0      NaN         74         96         93
48       Set2  Image49   102.0      NaN         69         87         84
49       Set2  Image50   101.0      NaN         88         92        111
120.0

In [12]:
print(df[df['Manual'] > 100.]) # print the values > 100

   Unnamed: 0    Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
2        Set1   Image3   104.0     98.0         74         99         94
5        Set1   Image6   115.0      NaN         82        124        105
6        Set1   Image7   102.0      NaN         68        103         93
7        Set1   Image8   117.0      NaN         77        122         88
8        Set1   Image9   104.0      NaN         88         99        112
9        Set1  Image10   103.0      NaN         69         98         94
11       Set1  Image12   119.0      NaN         79        105        111
13       Set1  Image14   117.0      NaN         94        115        105
16       Set1  Image17   105.0      NaN         85         91        101
17       Set1  Image18   112.0      NaN         73        104         96
22       Set1  Image23   106.0      NaN         71        112        105
23       Set1  Image24   107.0      NaN         92         91        111
24       Set1  Image25   108.0      NaN         93        113        115
25       Set2  Image26   102.0      NaN         85        103        105
28       Set2  Image29   110.0      NaN         92        117         85
30       Set2  Image31   115.0      NaN         77        113        119
31       Set2  Image32   120.0      NaN         94        115         94
35       Set2  Image36   112.0      NaN         73        115         88
36       Set2  Image37   107.0      NaN         87        108         91
37       Set2  Image38   108.0      NaN         76        111         86
38       Set2  Image39   103.0      NaN         91        107         95
39       Set2  Image40   106.0      NaN         89        116        100
42       Set2  Image43   105.0      NaN         72        105         81
48       Set2  Image49   102.0      NaN         69         87         84
49       Set2  Image50   101.0      NaN         88         92        111
52       Set3  Image53   105.0      NaN         85         92        100
53       Set3  Image54   115.0      NaN        101        108        107
55       Set3  Image56   101.0      NaN         91        100        107
56       Set3  Image57   110.0      NaN         93         99         90
57       Set3  Image58   101.0      NaN         85        101        103
58       Set3  Image59   101.0      NaN         68         95         94
61       Set3  Image62   112.0      NaN         95         97         85
67       Set3  Image68   116.0      NaN         84         99        125
68       Set3  Image69   110.0      NaN        100        102         89
69       Set3  Image70   104.0      NaN         68         97         93
71       Set3  Image72   109.0      NaN         82        106        119
72       Set3  Image73   101.0      NaN         82        108        109
74       Set3  Image75   118.0      NaN         79        120        116
76       Set4  Image77   106.0      NaN         83         95         83
77       Set4  Image78   119.0      NaN         80        103        112
78       Set4  Image79   105.0      NaN         80         92         86
80       Set4  Image81   119.0      NaN         85        112        129
81       Set4  Image82   109.0      NaN         98        110         88
83       Set4  Image84   111.0      NaN         74        101         87
86       Set4  Image87   108.0      NaN         81         99        118
88       Set4  Image89   110.0      NaN         85        115         98
89       Set4  Image90   105.0      NaN         83        101        114
92       Set4  Image93   120.0      NaN        109        109        126
95       Set4  Image96   106.0      NaN         75        112         98
98       Set4  Image99   116.0      NaN        101        115         93

In [16]:
print(df[(df['Manual'] > 100.) & (df['Auto_th_2'] < 100.)])

   Unnamed: 0    Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
2        Set1   Image3   104.0     98.0         74         99         94
5        Set1   Image6   115.0      NaN         82        124        105
6        Set1   Image7   102.0      NaN         68        103         93
7        Set1   Image8   117.0      NaN         77        122         88
8        Set1   Image9   104.0      NaN         88         99        112
9        Set1  Image10   103.0      NaN         69         98         94
11       Set1  Image12   119.0      NaN         79        105        111
13       Set1  Image14   117.0      NaN         94        115        105
16       Set1  Image17   105.0      NaN         85         91        101
17       Set1  Image18   112.0      NaN         73        104         96
22       Set1  Image23   106.0      NaN         71        112        105
23       Set1  Image24   107.0      NaN         92         91        111
24       Set1  Image25   108.0      NaN         93        113        115
25       Set2  Image26   102.0      NaN         85        103        105
28       Set2  Image29   110.0      NaN         92        117         85
30       Set2  Image31   115.0      NaN         77        113        119
31       Set2  Image32   120.0      NaN         94        115         94
35       Set2  Image36   112.0      NaN         73        115         88
36       Set2  Image37   107.0      NaN         87        108         91
37       Set2  Image38   108.0      NaN         76        111         86
38       Set2  Image39   103.0      NaN         91        107         95
39       Set2  Image40   106.0      NaN         89        116        100
42       Set2  Image43   105.0      NaN         72        105         81
48       Set2  Image49   102.0      NaN         69         87         84
49       Set2  Image50   101.0      NaN         88         92        111
52       Set3  Image53   105.0      NaN         85         92        100
55       Set3  Image56   101.0      NaN         91        100        107
56       Set3  Image57   110.0      NaN         93         99         90
57       Set3  Image58   101.0      NaN         85        101        103
58       Set3  Image59   101.0      NaN         68         95         94
61       Set3  Image62   112.0      NaN         95         97         85
67       Set3  Image68   116.0      NaN         84         99        125
69       Set3  Image70   104.0      NaN         68         97         93
71       Set3  Image72   109.0      NaN         82        106        119
72       Set3  Image73   101.0      NaN         82        108        109
74       Set3  Image75   118.0      NaN         79        120        116
76       Set4  Image77   106.0      NaN         83         95         83
77       Set4  Image78   119.0      NaN         80        103        112
78       Set4  Image79   105.0      NaN         80         92         86
80       Set4  Image81   119.0      NaN         85        112        129
81       Set4  Image82   109.0      NaN         98        110         88
83       Set4  Image84   111.0      NaN         74        101         87
86       Set4  Image87   108.0      NaN         81         99        118
88       Set4  Image89   110.0      NaN         85        115         98
89       Set4  Image90   105.0      NaN         83        101        114
95       Set4  Image96   106.0      NaN         75        112         98

In [17]:

for index, row in df.iterrows():
    averafe_auto = (row['Auto_th_2'] + row['Auto_th_3'] + row['Auto_th_4'])/3
    print(round(averafe_auto), row['Manual'])

80 92.0
76 87.0
89 104.0
94 99.0
72 89.0
104 115.0
88 102.0
96 117.0
100 104.0
87 103.0
75 91.0
98 119.0
80 nan
105 117.0
78 91.0
65 84.0
92 105.0
91 112.0
79 87.0
81 100.0
82 89.0
82 88.0
96 106.0
98 107.0
107 108.0
98 102.0
86 93.0
73 83.0
98 110.0
82 89.0
103 115.0
101 120.0
91 nan
91 99.0
75 80.0
92 112.0
95 107.0
91 108.0
98 103.0
102 106.0
88 95.0
78 86.0
86 105.0
78 86.0
75 82.0
90 98.0
88 98.0
88 88.0
80 102.0
97 101.0
69 85.0
95 98.0
92 105.0
105 115.0
80 93.0
99 101.0
94 110.0
96 101.0
86 101.0
84 nan
91 92.0
92 112.0
74 83.0
83 99.0
97 100.0
86 97.0
70 81.0
103 116.0
97 110.0
86 104.0
82 87.0
102 109.0
100 101.0
68 82.0
105 118.0
81 88.0
87 106.0
98 119.0
86 105.0
82 nan
109 119.0
99 109.0
78 nan
87 111.0
74 82.0
82 91.0
99 108.0
86 92.0
99 110.0
99 105.0
71 90.0
82 89.0
115 120.0
75 81.0
105 nan
95 106.0
78 80.0
87 92.0
103 116.0
95 99.0