In [1]:
import pandas as pd

# read csv file

df = pd.read_csv('grains/manual_vs_auto.csv')
print(df.head())
'''
  Unnamed: 0   Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
0       Set1  Image1    92.0     93.0         70         87         82
1       Set1  Image2    87.0     83.0         60         85         83
2       Set1  Image3   104.0     98.0         74         99         94
3       Set1  Image4    99.0      NaN         73        101        109
4       Set1  Image5    89.0      NaN         59         90         67
'''


# rename 'Unnamed: 0':'Image_set'

df = df.rename(columns={'Unnamed: 0':'Image_set'})
print(df.head())
'''
  Image_set   Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
0      Set1  Image1    92.0     93.0         70         87         82
1      Set1  Image2    87.0     83.0         60         85         83
2      Set1  Image3   104.0     98.0         74         99         94
3      Set1  Image4    99.0      NaN         73        101        109
4      Set1  Image5    89.0      NaN         59         90         67
'''

  Unnamed: 0   Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
0       Set1  Image1    92.0     93.0         70         87         82
1       Set1  Image2    87.0     83.0         60         85         83
2       Set1  Image3   104.0     98.0         74         99         94
3       Set1  Image4    99.0      NaN         73        101        109
4       Set1  Image5    89.0      NaN         59         90         67
  Image_set   Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4
0      Set1  Image1    92.0     93.0         70         87         82
1      Set1  Image2    87.0     83.0         60         85         83
2      Set1  Image3   104.0     98.0         74         99         94
3      Set1  Image4    99.0      NaN         73        101        109
4      Set1  Image5    89.0      NaN         59         90         67

'\n  Image_set   Image  Manual  Manual2  Auto_th_2  Auto_th_3  Auto_th_4\n0      Set1  Image1    92.0     93.0         70         87         82\n1      Set1  Image2    87.0     83.0         60         85         83\n2      Set1  Image3   104.0     98.0         74         99         94\n3      Set1  Image4    99.0      NaN         73        101        109\n4      Set1  Image5    89.0      NaN         59         90         67\n'

In [2]:
# remove 'Manual2' with lots of null data

df = df.drop('Manual2', axis=1)
print(df.head())

  Image_set   Image  Manual  Auto_th_2  Auto_th_3  Auto_th_4
0      Set1  Image1    92.0         70         87         82
1      Set1  Image2    87.0         60         85         83
2      Set1  Image3   104.0         74         99         94
3      Set1  Image4    99.0         73        101        109
4      Set1  Image5    89.0         59         90         67

In [3]:
group_by_file = df.groupby(by=['Image_set'])


group_by_count = group_by_file.count() # count the number of data from each column in each Set
group_by_avg = group_by_file.mean() # compute the mean value of data from each column in each Set

print(group_by_count)

'''
           Image  Manual  Auto_th_2  Auto_th_3  Auto_th_4
Image_set                                                
Set1          25      24         25         25         25
Set2          25      24         25         25         25
Set3          25      24         25         25         25
Set4          25      22         25         25         25
'''

print(group_by_avg)

'''
               Manual  Auto_th_2  Auto_th_3  Auto_th_4
Image_set                                             
Set1       100.666667      72.84      98.04      92.36
Set2        98.666667      75.40      98.00      93.44
Set3       100.000000      78.48      95.52      94.40
Set4       100.818182      78.76      98.76      92.64
'''

           Image  Manual  Auto_th_2  Auto_th_3  Auto_th_4
Image_set
Set1          25      24         25         25         25
Set2          25      24         25         25         25
Set3          25      24         25         25         25
Set4          25      22         25         25         25
               Manual  Auto_th_2  Auto_th_3  Auto_th_4
Image_set
Set1       100.666667      72.84      98.04      92.36
Set2        98.666667      75.40      98.00      93.44
Set3       100.000000      78.48      95.52      94.40
Set4       100.818182      78.76      98.76      92.64

In [4]:
import pandas as pd
df = pd.read_csv('grains/manual_vs_auto.csv')

# df.corr(): compute correlation

print(df.corr())

             Manual   Manual2  Auto_th_2  Auto_th_3  Auto_th_4
Manual     1.000000  0.911646   0.738123   0.796569   0.651191
Manual2    0.911646  1.000000   0.998625   0.835766   0.704634
Auto_th_2  0.738123  0.998625   1.000000   0.615319   0.544969
Auto_th_3  0.796569  0.835766   0.615319   1.000000   0.466908
Auto_th_4  0.651191  0.704634   0.544969   0.466908   1.000000

In [5]:
print(df['Manual'].corr(df['Auto_th_2']))

0.7381233054217538