In [1]:
import pandas as pd

df = pd.read_csv('grains/manual_vs_auto.csv')
df = df.drop('Manual2', axis=1)

# Drop all null data

df2 = df.dropna()

print(df2.head(5))

print(df2.isnull().sum())

  Unnamed: 0   Image  Manual  Auto_th_2  Auto_th_3  Auto_th_4
0       Set1  Image1    92.0         70         87         82
1       Set1  Image2    87.0         60         85         83
2       Set1  Image3   104.0         74         99         94
3       Set1  Image4    99.0         73        101        109
4       Set1  Image5    89.0         59         90         67
Unnamed: 0    0
Image         0
Manual        0
Auto_th_2     0
Auto_th_3     0
Auto_th_4     0
dtype: int64

In [2]:
"""
How many data is missing?
"""
df = pd.read_csv('grains/manual_vs_auto.csv')

# How many data is null?
# isnull to chech whether the data is null
# sum to show the number of null data in each column

print(df.isnull().sum())

Unnamed: 0     0
Image          0
Manual         6
Manual2       97
Auto_th_2      0
Auto_th_3      0
Auto_th_4      0
dtype: int64

In [3]:
df = df.drop('Manual2', axis=1)

# Fill null data
# fill null data using 100

df['Manual'].fillna(100, inplace=True)
print(df.head(5))

  Unnamed: 0   Image  Manual  Auto_th_2  Auto_th_3  Auto_th_4
0       Set1  Image1    92.0         70         87         82
1       Set1  Image2    87.0         60         85         83
2       Set1  Image3   104.0         74         99         94
3       Set1  Image4    99.0         73        101        109
4       Set1  Image5    89.0         59         90         67