In [3]:
import pandas as pd

df = pd.read_csv('grains/manual_vs_auto.csv')
df = df.drop('Manual2', axis=1)
df2 = df.dropna()

print(df2.head(15)) # drop all null data

   Unnamed: 0    Image  Manual  Auto_th_2  Auto_th_3  Auto_th_4
0        Set1   Image1    92.0         70         87         82
1        Set1   Image2    87.0         60         85         83
2        Set1   Image3   104.0         74         99         94
3        Set1   Image4    99.0         73        101        109
4        Set1   Image5    89.0         59         90         67
5        Set1   Image6   115.0         82        124        105
6        Set1   Image7   102.0         68        103         93
7        Set1   Image8   117.0         77        122         88
8        Set1   Image9   104.0         88         99        112
9        Set1  Image10   103.0         69         98         94
10       Set1  Image11    91.0         61         87         77
11       Set1  Image12   119.0         79        105        111
13       Set1  Image14   117.0         94        115        105
14       Set1  Image15    91.0         66         99         70
15       Set1  Image16    84.0         55         76         64

In [4]:
"""
How many data is missing?
"""
df = pd.read_csv('grains/manual_vs_auto.csv')

print(df.isnull().sum())

Unnamed: 0     0
Image          0
Manual         6
Manual2       97
Auto_th_2      0
Auto_th_3      0
Auto_th_4      0
dtype: int64

In [5]:
df = df.drop('Manual2', axis=1)

"""
Fill data in null
"""

df['Manual'].fillna(100, inplace=True)
print(df.head(25))

   Unnamed: 0    Image  Manual  Auto_th_2  Auto_th_3  Auto_th_4
0        Set1   Image1    92.0         70         87         82
1        Set1   Image2    87.0         60         85         83
2        Set1   Image3   104.0         74         99         94
3        Set1   Image4    99.0         73        101        109
4        Set1   Image5    89.0         59         90         67
5        Set1   Image6   115.0         82        124        105
6        Set1   Image7   102.0         68        103         93
7        Set1   Image8   117.0         77        122         88
8        Set1   Image9   104.0         88         99        112
9        Set1  Image10   103.0         69         98         94
10       Set1  Image11    91.0         61         87         77
11       Set1  Image12   119.0         79        105        111
12       Set1  Image13   100.0         65         90         84
13       Set1  Image14   117.0         94        115        105
14       Set1  Image15    91.0         66         99         70
15       Set1  Image16    84.0         55         76         64
16       Set1  Image17   105.0         85         91        101
17       Set1  Image18   112.0         73        104         96
18       Set1  Image19    87.0         60         83         93
19       Set1  Image20   100.0         76         87         81
20       Set1  Image21    89.0         65         94         86
21       Set1  Image22    88.0         66         96         83
22       Set1  Image23   106.0         71        112        105
23       Set1  Image24   107.0         92         91        111
24       Set1  Image25   108.0         93        113        115